* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: grey;
}

#container {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	border: 1px solid black;
	height: 600px;
	width: 800px;
}

#secondary-container {
	z-index: 5;
	position: fixed;
	top: 5px;
	left: 605px;
	height: 590px;
	width: 190px;
	border: 1px solid black;
	background-color: rgba(169, 169, 169, 0.315);
}

